<!DOCTYPE html>

<html>

<header>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        .btn {
            width: 30%;
            height: width;
        }
        .input-group {
            width: 45%;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .form-control {
            text-align: center;
        }
        #searchBtn {
            width: 20%;
        }
    </style>
</header>

<body>

    <div class='container-fluid d-flex justify-content-center'>
        <div class="input-group">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
            aria-describedby="search-addon" />
            <button id='searchBtn' type="button" class="btn btn-primary">search</button>
        </div>
    </div>

    <% categories.data.forEach(cat => { %>
        <button class='btn btn-outline-primary' onclick='window.location.href="/category/<%=cat%>"'><%=cat%></button>
    <% }) %> 
    
</body>

</html>