<!DOCTYPE html>

<html>

<header>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script>
        function turnOnLoader() {
            document.getElementById('loading').classList.remove('d-none')

            $.ajax({
                type: 'POST',
                url: `/${document.getElementById('numQuestions').value}`,
                success: function(result) {
                    
                    document.getElementById('loading').classList.add('d-none')
                    var container = document.getElementById('container')

                    while (container.firstChild) {
                        container.removeChild(container.firstChild)
                    }

                    var tag = document.createElement('hr')
                    tag.classList.add('d-flex')
                    tag.classList.add('justify-content-center')
                    document.getElementById('container').appendChild(tag)

                    for (var i = 0; i < result.data.length; i++) {
                        var tag = document.createElement('p')
                        var text = document.createTextNode(result.data.questions[i])
                        tag.appendChild(text)
                        tag.classList.add('d-flex')
                        tag.classList.add('justify-content-center')
                        document.getElementById('container').appendChild(tag)

                        var tag = document.createElement('hr')
                        tag.classList.add('d-flex')
                        tag.classList.add('justify-content-center')
                        document.getElementById('container').appendChild(tag)
                    }
                } 
            });
        }
    </script>
</header>

<body style='background-color: #fefefa'>

    <div id='base' class='container-fluid'>
        <div class='sticky-top' style='background-color: #fefefa'>
            <h1 style='margin-top: 10' class='row d-flex justify-content-center'>Jeopardy Question Generator</h1>
            <div class="form-inline my-2 my-lg-0 d-flex justify-content-center">
                <input id='numQuestions' name='numQuestions' class="form-control mr-sm-2" type="text" placeholder="Number of Questions" aria-label="numQuestions">
                <button onclick='turnOnLoader()' class="btn btn-outline-success my-2 my-sm-0">Generate!</button>
                <div style='margin-left: 10' id='loading' class="spinner-border text-success d-none"></div>
            </div>
        </div>
        <div id='container'>
                
        </div>
    </div>

</body>

</html>